body{
    font-family: 'Merriweather', serif;
    color:#363E46
}

header{
    text-align:center;
}

button{
    color: white;
    background-color: #45b3ac;
    padding: 16px 80px;
    font-size: 16px;
    border-radius: 5px;
    border:0;
    width:100%;
}

h1{
    color: white;
}

p{
    color:#929eaa;
}

/* Horizontal Lines */

hr{
    border: 5px solid;
}

hr:nth-of-type(2){
    border: 3px solid;
    margin-bottom: 40px;
}



form hr{
    border: 3px solid;
    margin-top: 50px;
    margin-bottom: 40px;
}

/* Navigation Section */

.nav{
    background-color:#363E46;
    padding: 10px;
    margin:-8px;
}


.intro h2{
    margin-top: 40px;
    text-align: center;
}
.intro p{
    margin-bottom: 55px;
    text-align: center;
}


/* Form Label and Legend */

label {
    color:#929eaa;
    font-size: 14px;
    padding: 10px 0px;

}

legend{
    text-align:left;
    font-size: 20px;
    font-weight: bold;
}


/* Styling Form Inputs */

fieldset{
    border:0px;
}


input[type=text],input[type=email],input[type=tel], select, textarea, option{
    width: 95%;
    height: 25px;
    color:#929eaa;
    background-color: #eff0f1;
    border: 0px;
    border-radius: 5px;
    text-align: left;
    padding: 12px 0;
}

select{
    height: 50px;
}

textarea{
    height:60px;
    margin:5px 0 15px 0;
}

label{
    text-align: left;
}

::placeholder{
    text-align: right;
    padding: 3px 15px;
    font-style: italic;
    color:#929eaa;

}



.field-group,.field-group .label, .field-group .field, select{
    display: block;
}

/* Second Section of Form */


.second-set label, .second-set input{
    display:block;
}

.second-set textarea{
    width:100%;
}

.field-group:nth-child(8){
    width:50%;
}


footer .copyright{
    text-align: center;
}

@media only screen and (min-width: 768px){
    .container{
        width: 60%;
        margin: auto;
    }



}
